In [1]:
2+5

7

In [2]:
Run Package Control: Install Package

SyntaxError: invalid syntax (<ipython-input-2-bccd5b8ec7ab>, line 1)

In [4]:
import pandas as pd
data = pd.read_csv("../analyse/operations.csv", parse_dates=[1,2], sep=',', decimal='.')

In [5]:
print(data)

     identifiant_transaction date_operation date_valeur  \
0                        242     2023-10-06  2023-10-06
1                         25     2023-10-06  2023-10-06
2                         69     2023-10-06  2023-10-06
3                        299     2023-10-05  2023-10-05
4                         45     2023-10-05  2023-10-05
5                         95     2023-10-03  2023-10-03
6                         78     2023-10-02  2023-10-02
7                        160     2023-09-30  2023-10-01
8                         63     2023-09-29  2023-09-29
9                         64     2023-09-26  2023-09-26
10                       170     2023-09-26  2023-09-26
11                       195     2023-09-26  2023-09-26
12                       293     2023-09-26  2023-09-26
13                       278     2023-09-25  2023-09-25
14                       128     2023-09-25  2023-09-25
15                        87     2023-09-25  2023-09-25
16                        52     2023-09-25  2023-09-25
17                        44     2023-09-25  2023-09-25
18                        37     2023-09-25  2023-09-25
19                        30     2023-09-25  2023-09-25
20                       247     2023-09-22  2023-09-22
21                       285     2023-09-22  2023-09-22
22                       270     2023-09-21  2023-09-21
23                       267     2023-09-20  2023-09-20
24                       142     2023-09-20  2023-09-20
25                        98     2023-09-20  2023-09-20
26                        38     2023-09-20  2023-09-20
27                        94     2023-09-18  2023-09-18
28                        70     2023-09-18  2023-09-18
29                       132     2023-09-18  2023-09-18
..                       ...            ...         ...
278                      201     2023-04-14  2023-04-14
279                      173     2023-04-14  2023-04-14
280                        7     2023-04-14  2023-04-14
281                      137     2023-04-13  2023-04-18
282                      244     2023-04-12  2023-04-12
283                      272     2023-04-11  2023-04-11
284                      231     2023-04-11  2023-04-11
285                      196     2023-04-11  2023-04-11
286                       24     2023-04-11  2023-04-11
287                       36     2023-04-10  2023-04-10
288                       84     2023-04-10  2023-04-10
289                      184     2023-04-10  2023-04-10
290                      107     2023-04-10  2023-04-10
291                      235     2023-04-10  2023-04-10
292                      188     2023-04-10  2023-04-10
293                      193     2023-04-10  2023-04-10
294                      277     2023-04-10  2023-04-10
295                      300     2023-04-10  2023-04-10
296                       74     2023-04-07  2023-04-07
297                      249     2023-04-06  2023-04-06
298                      236     2023-04-05  2023-04-05
299                      215     2023-04-05  2023-04-05
300                      171     2023-04-05  2023-04-05
301                      165     2023-04-05  2023-04-05
302                      305     2023-04-03  2023-04-03
303                      295     2023-04-03  2023-04-03
304                      221     2023-04-03  2023-04-03
305                      205     2023-04-03  2023-04-03
306                       50     2023-04-03  2023-04-03
307                      108     2023-03-31  2023-03-31

                                          libelle   debit  credit    solde
0            FORFAIT COMPTE SUPERBANK XX XX XX XX   -1.92     NaN  2513.79
1                         CARTE XX XX CHEZ LUC XX  -10.00     NaN  2529.29
2                  PRELEVEMENT XX TELEPHONE XX XX  -13.58     NaN  2515.71
3                         CARTE XX XX XX XX XX XX  -10.64     NaN  2539.29
4                               CARTE XX XX XX XX   -4.80     NaN  2549.93
5                         CARTE XX XX LA CCNCF XX  -67.68     NaN  2554.73
6    VIREMENT XX XX XX XX XX XX XX XX XX XX XX XX     NaN  676.00  2622.41
7                         XX XX VIREMENT XX XX XX  -36.00     NaN  1946.41
8                        DON XX XX XX XX XX XX XX   -1.76     NaN  1982.41
9                        CARTE XX XX TOUPTIPRI XX   -2.93     NaN  2315.73
10                       CARTE XX XX TOUPTIPRI XX  -10.36     NaN  2305.37
11                               RETRAIT XX XX XX -320.00     NaN  1985.37
12                           CARTE XX XX XX XX XX   -1.20     NaN  1984.17
13            PRELEVEMENT XX XX XX XX XX XX XX XX -593.60     NaN  2318.66
14                        CARTE XX XX CHEZ LUC XX   -8.52     NaN  2912.26
15                        CARTE XX XX XX XX XX XX   -7.12     NaN  2920.78
16                           CARTE XX XX XX XX XX  -23.33     NaN  2927.90
17                           CARTE XX XX XX XX XX   -9.31     NaN  2951.23
18                        CARTE XX XX XX XX XX XX  -12.00     NaN  2960.54
19                              CARTE XX XX XX XX  -40.00     NaN  2972.54
20                              CARTE XX XX XX XX   -4.00     NaN  3018.14
21                           CARTE XX XX XX XX XX   -5.60     NaN  3012.54
22                           CARTE XX XX XX XX XX  -10.45     NaN  3022.14
23                       CARTE XX XX TOUPTIPRI XX   -2.56     NaN  3032.59
24                              CARTE XX XX XX XX  -30.37     NaN  3035.15
25                           CARTE XX XX XX XX XX   -8.60     NaN  3065.52
26                        CARTE XX XX XX XX XX XX   -2.56     NaN  3074.12
27                     CARTE XX XX LA LOUVE XX XX  -20.59     NaN  3082.84
28                              CARTE XX XX XX XX   -1.60     NaN  3103.43
29                           CARTE XX XX XX XX XX   -0.96     NaN  3081.88
..                                            ...     ...     ...      ...
278                          CARTE XX XX XX XX XX   -1.60     NaN  4284.09
279                       CARTE XX XX CHEZ LUC XX   -8.80     NaN  4285.69
280                          CARTE XX XX XX XX XX   -0.80     NaN  4294.49
281                          XX XX XX XX XX XX XX -280.00     NaN  4295.29
282                          CARTE XX XX XX XX XX  -28.96     NaN  4575.29
283                 VIREMENT XX XX XX XX XX XX XX     NaN  836.00  4604.25
284                          CARTE XX XX XX XX XX   -7.56     NaN  3768.25
285                 VIREMENT XX XX XX XX XX XX XX     NaN  869.44  3775.81
286                             CARTE XX XX XX XX  -48.00     NaN  2906.37
287                          CARTE XX XX XX XX XX  -24.00     NaN  3122.95
288                    VIREMENT XX XX XX XX XX XX     NaN    1.60  3124.55
289                             CARTE XX XX XX XX  -84.40     NaN  3027.73
290                       CARTE XX XX CHEZ LUC XX  -12.42     NaN  3112.13
291                       CARTE XX XX XX XX XX XX   -6.00     NaN  2999.49
292                          CARTE XX XX XX XX XX  -20.64     NaN  3007.09
293           CARTE XX XX XX XX XX XX XX XX XX XX   -1.60     NaN  3005.49
294           CARTE XX XX LES ANCIENS ROBINSON XX  -42.42     NaN  2957.07
295                       CARTE XX XX VELOC XX XX   -2.70     NaN  2954.37
296        VIREMENT XX XX XX XX XX XX XX XX XX XX     NaN  992.80  3146.95
297          FORFAIT COMPTE SUPERBANK XX XX XX XX   -1.84     NaN  2154.15
298                          CARTE XX XX XX XX XX  -15.20     NaN  2155.99
299                             CARTE XX XX XX XX  -12.00     NaN  2171.19
300                PRELEVEMENT XX TELEPHONE XX XX   -7.02     NaN  2183.19
301           CARTE XX XX LES ANCIENS ROBINSON XX   -6.80     NaN  2190.21
302                           CARTE XX XX RAPT XX  -24.00     NaN  2197.01
303                           CARTE XX XX RAPT XX  -73.00     NaN  2221.01
304  VIREMENT XX XX XX XX XX XX XX XX XX XX XX XX     NaN  676.00  2294.01
305                    VIREMENT XX XX XX XX XX XX     NaN    4.80  1618.01
306                             CARTE XX XX XX XX  -14.39     NaN  1613.21
307                      DON XX XX XX XX XX XX XX   -1.44     NaN  1627.60

[308 rows x 7 columns]

In [10]:
data.columns = ['identifiant_transaction','date_operation','date_valeur','libelle','debit','credit','solde']

In [12]:
print(data)

     identifiant_transaction date_operation date_valeur  \
0                        242     2023-10-06  2023-10-06
1                         25     2023-10-06  2023-10-06
2                         69     2023-10-06  2023-10-06
3                        299     2023-10-05  2023-10-05
4                         45     2023-10-05  2023-10-05
5                         95     2023-10-03  2023-10-03
6                         78     2023-10-02  2023-10-02
7                        160     2023-09-30  2023-10-01
8                         63     2023-09-29  2023-09-29
9                         64     2023-09-26  2023-09-26
10                       170     2023-09-26  2023-09-26
11                       195     2023-09-26  2023-09-26
12                       293     2023-09-26  2023-09-26
13                       278     2023-09-25  2023-09-25
14                       128     2023-09-25  2023-09-25
15                        87     2023-09-25  2023-09-25
16                        52     2023-09-25  2023-09-25
17                        44     2023-09-25  2023-09-25
18                        37     2023-09-25  2023-09-25
19                        30     2023-09-25  2023-09-25
20                       247     2023-09-22  2023-09-22
21                       285     2023-09-22  2023-09-22
22                       270     2023-09-21  2023-09-21
23                       267     2023-09-20  2023-09-20
24                       142     2023-09-20  2023-09-20
25                        98     2023-09-20  2023-09-20
26                        38     2023-09-20  2023-09-20
27                        94     2023-09-18  2023-09-18
28                        70     2023-09-18  2023-09-18
29                       132     2023-09-18  2023-09-18
..                       ...            ...         ...
278                      201     2023-04-14  2023-04-14
279                      173     2023-04-14  2023-04-14
280                        7     2023-04-14  2023-04-14
281                      137     2023-04-13  2023-04-18
282                      244     2023-04-12  2023-04-12
283                      272     2023-04-11  2023-04-11
284                      231     2023-04-11  2023-04-11
285                      196     2023-04-11  2023-04-11
286                       24     2023-04-11  2023-04-11
287                       36     2023-04-10  2023-04-10
288                       84     2023-04-10  2023-04-10
289                      184     2023-04-10  2023-04-10
290                      107     2023-04-10  2023-04-10
291                      235     2023-04-10  2023-04-10
292                      188     2023-04-10  2023-04-10
293                      193     2023-04-10  2023-04-10
294                      277     2023-04-10  2023-04-10
295                      300     2023-04-10  2023-04-10
296                       74     2023-04-07  2023-04-07
297                      249     2023-04-06  2023-04-06
298                      236     2023-04-05  2023-04-05
299                      215     2023-04-05  2023-04-05
300                      171     2023-04-05  2023-04-05
301                      165     2023-04-05  2023-04-05
302                      305     2023-04-03  2023-04-03
303                      295     2023-04-03  2023-04-03
304                      221     2023-04-03  2023-04-03
305                      205     2023-04-03  2023-04-03
306                       50     2023-04-03  2023-04-03
307                      108     2023-03-31  2023-03-31

                                          libelle   debit  credit    solde
0            FORFAIT COMPTE SUPERBANK XX XX XX XX   -1.92     NaN  2513.79
1                         CARTE XX XX CHEZ LUC XX  -10.00     NaN  2529.29
2                  PRELEVEMENT XX TELEPHONE XX XX  -13.58     NaN  2515.71
3                         CARTE XX XX XX XX XX XX  -10.64     NaN  2539.29
4                               CARTE XX XX XX XX   -4.80     NaN  2549.93
5                         CARTE XX XX LA CCNCF XX  -67.68     NaN  2554.73
6    VIREMENT XX XX XX XX XX XX XX XX XX XX XX XX     NaN  676.00  2622.41
7                         XX XX VIREMENT XX XX XX  -36.00     NaN  1946.41
8                        DON XX XX XX XX XX XX XX   -1.76     NaN  1982.41
9                        CARTE XX XX TOUPTIPRI XX   -2.93     NaN  2315.73
10                       CARTE XX XX TOUPTIPRI XX  -10.36     NaN  2305.37
11                               RETRAIT XX XX XX -320.00     NaN  1985.37
12                           CARTE XX XX XX XX XX   -1.20     NaN  1984.17
13            PRELEVEMENT XX XX XX XX XX XX XX XX -593.60     NaN  2318.66
14                        CARTE XX XX CHEZ LUC XX   -8.52     NaN  2912.26
15                        CARTE XX XX XX XX XX XX   -7.12     NaN  2920.78
16                           CARTE XX XX XX XX XX  -23.33     NaN  2927.90
17                           CARTE XX XX XX XX XX   -9.31     NaN  2951.23
18                        CARTE XX XX XX XX XX XX  -12.00     NaN  2960.54
19                              CARTE XX XX XX XX  -40.00     NaN  2972.54
20                              CARTE XX XX XX XX   -4.00     NaN  3018.14
21                           CARTE XX XX XX XX XX   -5.60     NaN  3012.54
22                           CARTE XX XX XX XX XX  -10.45     NaN  3022.14
23                       CARTE XX XX TOUPTIPRI XX   -2.56     NaN  3032.59
24                              CARTE XX XX XX XX  -30.37     NaN  3035.15
25                           CARTE XX XX XX XX XX   -8.60     NaN  3065.52
26                        CARTE XX XX XX XX XX XX   -2.56     NaN  3074.12
27                     CARTE XX XX LA LOUVE XX XX  -20.59     NaN  3082.84
28                              CARTE XX XX XX XX   -1.60     NaN  3103.43
29                           CARTE XX XX XX XX XX   -0.96     NaN  3081.88
..                                            ...     ...     ...      ...
278                          CARTE XX XX XX XX XX   -1.60     NaN  4284.09
279                       CARTE XX XX CHEZ LUC XX   -8.80     NaN  4285.69
280                          CARTE XX XX XX XX XX   -0.80     NaN  4294.49
281                          XX XX XX XX XX XX XX -280.00     NaN  4295.29
282                          CARTE XX XX XX XX XX  -28.96     NaN  4575.29
283                 VIREMENT XX XX XX XX XX XX XX     NaN  836.00  4604.25
284                          CARTE XX XX XX XX XX   -7.56     NaN  3768.25
285                 VIREMENT XX XX XX XX XX XX XX     NaN  869.44  3775.81
286                             CARTE XX XX XX XX  -48.00     NaN  2906.37
287                          CARTE XX XX XX XX XX  -24.00     NaN  3122.95
288                    VIREMENT XX XX XX XX XX XX     NaN    1.60  3124.55
289                             CARTE XX XX XX XX  -84.40     NaN  3027.73
290                       CARTE XX XX CHEZ LUC XX  -12.42     NaN  3112.13
291                       CARTE XX XX XX XX XX XX   -6.00     NaN  2999.49
292                          CARTE XX XX XX XX XX  -20.64     NaN  3007.09
293           CARTE XX XX XX XX XX XX XX XX XX XX   -1.60     NaN  3005.49
294           CARTE XX XX LES ANCIENS ROBINSON XX  -42.42     NaN  2957.07
295                       CARTE XX XX VELOC XX XX   -2.70     NaN  2954.37
296        VIREMENT XX XX XX XX XX XX XX XX XX XX     NaN  992.80  3146.95
297          FORFAIT COMPTE SUPERBANK XX XX XX XX   -1.84     NaN  2154.15
298                          CARTE XX XX XX XX XX  -15.20     NaN  2155.99
299                             CARTE XX XX XX XX  -12.00     NaN  2171.19
300                PRELEVEMENT XX TELEPHONE XX XX   -7.02     NaN  2183.19
301           CARTE XX XX LES ANCIENS ROBINSON XX   -6.80     NaN  2190.21
302                           CARTE XX XX RAPT XX  -24.00     NaN  2197.01
303                           CARTE XX XX RAPT XX  -73.00     NaN  2221.01
304  VIREMENT XX XX XX XX XX XX XX XX XX XX XX XX     NaN  676.00  2294.01
305                    VIREMENT XX XX XX XX XX XX     NaN    4.80  1618.01
306                             CARTE XX XX XX XX  -14.39     NaN  1613.21
307                      DON XX XX XX XX XX XX XX   -1.44     NaN  1627.60

[308 rows x 7 columns]

In [13]:
from collections import Counter

def most_common_words(labels):
    words = []
    for lab in labels:
        words += lab.split(" ")
    counter = Counter(words)
    for word in counter.most_common(100):
        print(word)

most_common_words(data['libelle'].values)

('XX', 1428)
('CARTE', 247)
('VIREMENT', 29)
('LES', 20)
('ANCIENS', 20)
('ROBINSON', 20)
('CHEZ', 16)
('LUC', 16)
('LA', 16)
("L'EPICERIE", 16)
('DEMBAS', 16)
('TOUPTIPRI', 12)
('CCNCF', 9)
('RETRAIT', 9)
('PRELEVEMENT', 8)
('RAPT', 8)
('FORFAIT', 7)
('COMPTE', 7)
('SUPERBANK', 7)
('TELEPHONE', 7)
('DON', 7)
('LOUVE', 7)
('PERMANENT', 6)
('LOYER', 6)
('VELOC', 4)

In [15]:
CATEGS = {
    'LOYER': 'LOYER',
    'FORFAIT COMPTE SUPERBANK': 'COTISATION BANCAIRE',
    'LES ANCIENS ROBINSON': 'COURSES',
    "L'EPICERIE DENBAS": 'COURSES',
    'TELEPHONE': 'FACTURE TELEPHONE',
    'LA CCNCF': 'TRANSPORT',
    'CHEZ LUC': 'RESTAURANT',
    'RAPT': 'TRANSPORT',
    'TOUPTIPRI': 'COURSES',
    'LA LOUVE': 'COURSES',
    'VELOC': 'TRANSPORT'
}
TYPES = {
    'CARTE': 'CARTE',
    'VIR': 'VIREMENT',
    'VIREMENT': 'VIREMENT',
    'RETRAIT': 'RETRAIT',
    'PRLV': 'PRELEVEMENT',
    'DON': 'DON',
}

In [17]:
EXPENSES = [50,200] # Bornes des catégories de dépense : petite, moyenne et grosse
LAST_BALANCE = 2400 # Solde du compte APRES la dernière opération en date
WEEKEND = ["Saturday","Sunday"] # Jours non travaillés

In [19]:
# Controle des colonnes
for c in ['date_operation','libelle','debit','credit']:
    if c not in data.columns:
        if (c in ['debit','credit'] and 'montant' not in data.columns) or \
        (c not in ['debit','credit']):
            msg = "Il vous manque la colonne '{}'. Attention aux majuscules "
            msg += "et minuscules dans le nom des colonnes!"
            raise Exception(msg.format(c))

# Suppression des colonnes innutiles
for c in data.columns:
    if c not in ['date_operation','libelle','debit','credit','montant']:
        del data[c]

# Ajout de la colonne 'montant' si besoin
if 'montant' not in data.columns:
    data["debit"] = data["debit"].fillna(0)
    data["credit"] = data["credit"].fillna(0)
    data["montant"] = data["debit"] + data["credit"]
    del data["credit"], data["debit"]

# creation de la variable 'solde_avt_ope'
data = data.sort_values("date_operation")
amount = data["montant"]
balance = amount.cumsum()
balance = list(balance.values)
last_val = balance[-1]
balance = [0] + balance[:-1]
balance = balance - last_val + LAST_BALANCE
data["solde_avt_ope"] = balance

# Assignation des operations a une categorie et a un type
def detect_words(values, dictionary):
    result = []
    for lib in values:
        operation_type = "AUTRE"
        for word, val in dictionary.items():
            if word in lib:
                operation_type = val
        result.append(operation_type)
    return result
data["categ"] = detect_words(data["libelle"], CATEGS)
data["type"] = detect_words(data["libelle"], TYPES)

# creation des variables 'tranche_depense' et 'sens'
def expense_slice(value):
    value = -value # Les dépenses sont des nombres négatifs
    if value < 0:
        return "(pas une dépense)"
    elif value < EXPENSES[0]:
        return "petite"
    elif value < EXPENSES[1]:
        return "moyenne"
    else:
        return "grosse"
data["tranche_depense"] = data["montant"].map(expense_slice)
data["sens"] = ["credit" if m > 0 else "debit" for m in data["montant"]]

# Creation des autres variables
data["annee"] = data["date_operation"].map(lambda d: d.year)
data["mois"] = data["date_operation"].map(lambda d: d.month)
data["jour"] = data["date_operation"].map(lambda d: d.day)
data["jour_sem"] = data["date_operation"].map(lambda d: d.day_name)
data["jour_sem_num"] = data["date_operation"].map(lambda d: d.weekday()+1)
data["weekend"] = data["jour_sem"].isin(WEEKEND)
data["quart_mois"] = [int((jour-1)*4/31)+1 for jour in data["jour"]]
        
# Enregistrement au format CSV
data.to_csv("operations_enrichies.csv",index=False)